<HTML>
<head></head>
<body>
    <h1>Question</h1>
    {% if question %}
        </ul>
            {% for q in question %}
                <li><a href = "{% url 'polls:detail' q.id %}" > {{q.qtext}}
                </a></li>
            {% endfor %}
        </ul>
    {% endif %}


</body>
</HTML>
